/*------- HEADER og NAV -------*/

.logo {
    width: 100%;
    text-align: center;
}
.logoimg {
    width: 30%;
}

header ul {
    width: 50%;
    float: left;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
    height: 35px;
}
.rightside {
    width: 50%;
    float: right;
}
.logknap {
    float: right;
    margin-right: 4%;
}
header {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    background-color: #515f6d;
    color: black; 
    padding-top: 8px;
    min-height: 40px;
}
header a {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s;
    transition-timing-function: linear;
}
header li {
    display: inline;
    padding: 0 10px 0 10px;
}
header nav{
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 3%;
}
/* :not(.active) = hover on all links which doesn't have an .active */
header a:not(.active):hover{
    color: white;
    border-bottom: solid #dba45c 0px;
    padding-bottom: 7px;
    cursor: pointer;
}
@media (max-width: 600px) {
    header a {
        font-size: 10px;   
    }
}
@media (max-width: 600px) {
    .p2 {
        font-size: 14px;   
    }
}

@media screen and (min-width: 0-600px){
    .main {
        width: 20%;
    }
}
nav .active {
    border-bottom: solid #dba45c 10px;
    padding-bottom: 7px;
}
  


/*------ Instillinger for hele styleguiden ------*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

h1 {
    text-align: left; 
    color: white; 
    padding-top: 15px; 
    padding-left: 15px; 
    padding-bottom: 15px;
    font-size: 11pt; 
}

.box-text{
    width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #515f6D; 
    
}

.container {
      height: 1000px;
      width: 100%;
      margin: 0;
      background-color:#f7f7f7;
      float: right; 
}   
.colortext { 
    color: black;
    margin-top: 20px; 
    font-size: 15pt; 
    text-align: center; 
}

/*------- LOGO SIDE -------*/
  .logoside {
      height: auto;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
  }
.txtkasse {
    height: 50px;
    width: 20%;
    font-size: 30px;
    text-align: center;
    margin-left: 41%;
}
.txtkasse2 {
    height: 50px;
    width: 30%;
    font-size: 30px;
    text-align: center;
    margin-left: 35%;
}
.txtkasse3 {
    height: 50px;
    width: 20%;
    font-size: 30px;
    text-align: center;
    margin-left: 40%;
}
.logo-header{ 
    width: 70%;
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}
.logobackground {
    height: 100px;
    width: 50%;
    background: #515F6D;
    margin-left: 25%;
}
.animatedlogo {
    height: 100px;
    width: 50%;
    background: #515F6D;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
}
.favicon {
    height: 240px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
}




/*------ COLORS SIDE ------*/
  .colors-side {
      height: auto;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
      margin-bottom: 30px;    
}

/*Farve bokse*/
/*boks nr. 1*/
.container-color{
    height: 1050px; 
}

 .colorbox1 {
    height: 60px;
    width: 50%; 
    margin-left: 25%;
    background-color: #515F6D;
    border: solid black 1px;
}

.colortext-container{
    width: 100%; 
    height: 60px;  
}
.værdifarver {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}
.hoverbox {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}
.knapper {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}
.input {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}
/*boks 2*/
.colorbox2 {
    height: 60px;
    width:  50%; 
    margin-left: 25%;
    background-color: #D8A55B;
    border: solid black 1px;
}

.colorbox3 {
    height: 60px;
    width:  50%; 
    margin-left: 25%;
    background-color: #90A0A8;
    border: solid black 1px;
}

.colorbox4 {
    height: 60px;
    width:  50%;
    margin-left: 25%;
    background-color: #E8ECED;
    border: solid black 1px;
}

.colorbox5 {
    height: 60px;
    width:  50%;
    margin-left: 25%;
    background-color: #F7F7F7; 
    border: solid black 1px;
}

.colorbox6 {
    height: 60px;
    width: 50%;
    margin-left: 25%;
    background-color: #FFFFFF; 
    border: solid black 1px;
}

.colorbox7 {
    height: 60px;
    width: 50%;
    background-color: #A6BB75;
    border: solid black 1px;
    margin-left: 25%;
    margin-bottom: 1%;  
}

.colorbox8 {
    height: 60px;
    width: 50%;
    background-color:#6696AD;
    border: solid black 1px;
    margin-left: 25%;
    margin-bottom: 1%;
}

.colorbox9 {
    height: 60px;
    width: 50%;
    background-color: #D36D75;
    border: solid black 1px;
    margin-left: 25%;
    margin-bottom: 1%;
}

.colorbox10 {
    height: 60px;
    width: 50%;
    background-color: #AA81Ac;
    border: solid black 1px;
    margin-bottom: 5px;
    margin-left: 25%;
    margin-bottom: 1%;
}
.iconbox {
    width: 100%;
    margin-left: 15%;
}
.iconkasse {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
}
.iconkasse2 {
    width: 15%;
    height: auto;
    text-align: center;
    font-size: 30px;
    margin-left: 15%;
}

.iconbox2 {
    display: inline-block;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.icon1 {
    width: 200px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    border: solid black 1px;
    margin-bottom: 30px;
}
.icon2 {
    width: 225px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    border: solid black 1px;
    margin-bottom: 30px;
}
.icon3 {
    width: 800px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    border: solid black 1px;
    margin-bottom: 30px;
}



/*------ TYPOGRAPHY SIDE ------*/
.typography-side {
      height: 400px;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}

.textbox {
  height: 20vh;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  color: black;
  font-size: 18px;
}
.textbox2 {
    height: 20vh;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: -110px;
  }



/*------ BUTTONS SIDE ------*/
  .buttons-side {
      height: 200px;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}
.buttonkasse {
    height: 50px;
    width: 30%;
    text-align: center;
}
.btnkasse {
    margin-top: 15px;
}
.btn {
    margin-left: auto;
    margin-right: 1%;
    margin-top: 20px;
    width: auto;
    height: 40px;
    background-color: #dba45c;
    font-family: 'Roboto';
    color: white;
    border: 0;
    font-size: 16px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    
}
.btn:hover {
    background: #515f6d;
    transition: 0.4s;
}
.btn:active {
    background: #90a0a8;
}
textarea {
    width: 50%;
    height: 50px;
    float: right;
    resize: none;
    margin-right: 50px;
    margin-top: -50px;
}

/*------ BOXES SIDE ------*/

.boxes-side {
      height: auto;
      background-color:#ffffff; 
      width: 80%;
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
      margin-right: auto;
      margin-left: auto;
}   
.box {
    width: 31.33%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5%;
}
.box2 {
    width: 38%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10%;
}
.box3 {
    width: 48%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
}
.box4 {
    width: 58%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
}
.box5 {
    width: 98%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px; 
}

/*------ NAVIGATION SIDE ------*/

  .navigation-side {
      height: 200px;
      width: 100%;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}    



