/* Navigation */
.sidenav {
    height: 100%;
    width: 15%; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #515F6D;
    overflow-x: hidden;
    padding-top: 20px;
    float: left; 
    clear: left; 
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  /* Main side */
  .container {
      height: 1000px;
      width: 85%;
      margin: 0;
      background-color: blue;
      float: right; 
  }
  .box1 {
      height: 200px;
      width: 100%;
      background-color: #f7f7f7; 
  }
  .box2 {
    height: 500px;
    width: 100%;
    background-color: #6596ac;
}
  .box3 {
    height: 400px;
    width: 100%;
    background-color: #d8a45c; 
}
  .box4 {
    height: 200px;
    width: 100%;
    background-color: #bebcba;
}

.colorbox1 {
    height: 60px;
    width: 100%; 
    background-color: #515F6D;
    float: left; 
}

.colorbox2 {
    height: 60px;
    width:  100%; 
    background-color:#6696AD;
    float: left; 
}

.colorbox3 {
    height: 60px;
    width:  100%; 
    background-color: #90A0A8;
    float: left; 
}

.colorbox4 {
    height: 60px;
    width:  100%;
    background-color: #E8ECED;
    float: left; 
}

.colorbox5 {
    height: 60px;
    width:  100%;
    background-color: #F7F7F7;
    float: left; 
}

.colorbox6 {
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    float: left; 
}

.colorbox7 {
    height: 60px;
    width: 100%;
    background-color: #A6BB75;
    float: left; 
}

.colorbox8 {
    height: 60px;
    width: 100%;
    background-color: #D8A55B;
    float: left; 
}

.colorbox9 {
    height: 60px;
    width: 100%;
    background-color: #D36D75;
    float: left; 
}

.colorbox10 {
    height: 60px;
    width: 100%;
    background-color: #AA81Ac;
    float: left; 
}
.colortext { 
    text-align: center;
    color: black;
    
  
}
.textbox {
  height: 20vh;
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
}
h1 {
    text-align: center;
    margin: 0;
    color: white;
    text-transform: uppercase; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #515f6d; 
}