
/*------- HEADER og NAV -------*/

.logo {
    width: 100%;
    text-align: center;
}
.logoimg {
    width: 30%;
}

header ul {
    width: 50%;
    float: left;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
    height: 35px;
}
.rightside {
    width: 50%;
    float: right;
}
.logknap {
    float: right;
    margin-right: 4%;
}
header {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    background-color: #515f6d;
    color: black; 
    padding-top: 8px;
    min-height: 40px;
}
header a {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s;
    transition-timing-function: linear;
}
header li {
    display: inline;
    padding: 0 10px 0 10px;
}
header nav{
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 3%;
}
/* :not(.active) = hover on all links which doesn't have an .active */
header a:not(.active):hover{
    color: white;
    border-bottom: solid #dba45c 0px;
    padding-bottom: 7px;
    cursor: pointer;
}
@media (max-width: 600px) {
    header a {
        font-size: 10px;   
    }
}
@media (max-width: 600px) {
    .p2 {
        font-size: 14px;   
    }
}

@media screen and (min-width: 0-600px){
    .main {
        width: 20%;
    }
}
nav .active {
    border-bottom: solid #dba45c 10px;
    padding-bottom: 7px;
}
  


/*------ Instillinger for hele styleguiden ------*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

h1 {
    text-align: left; 
    color: white; 
    padding-top: 15px; 
    padding-left: 15px; 
    padding-bottom: 15px;
    font-size: 11pt; 
}

.box-text{
    width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #515f6D; 
    
}

.container {
      height: 1000px;
      width: 100%;
      margin: 0;
      background-color:#f7f7f7;
      float: right; 
}

.colortext { 
    text-align: left;
    color: black;
    margin-top: 20px; 
    font-size: 15pt; 
    text-align: center; 
}

/*------- LOGO SIDE -------*/
  .logoside {
      height: auto;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
  }

.logo-header{ 
    width: 70%;
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}



/*------ COLORS SIDE ------*/
  .colors-side {
      height: auto;
      width: 100%;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
      margin-bottom: 30px; 
}

/*Farve bokse*/
/*boks nr. 1*/
.container-color{
    background-color: ; 
    height: 60px; 
}

 .colorbox1 {
    height: 60px;
    width: 30%; 
    background-color: #515F6D;
    float: left; 
}

.colortext-container{
    width: 50%; 
    float: left; 
    height: 60px;  
}
/*boks 2*/
.colorbox2 {
    height: 60px;
    width:  30%; 
    background-color:#6696AD;
}

.colorbox3 {
    height: 60px;
    width:  30%; 
    background-color: #90A0A8;
}

.colorbox4 {
    height: 60px;
    width:  30%;
    background-color: #E8ECED;
}

.colorbox5 {
    height: 60px;
    width:  30%;
    background-color: #F7F7F7; 
}

.colorbox6 {
    height: 60px;
    width: 30%;
    background-color: #FFFFFF; 
}

.colorbox7 {
    height: 60px;
    width: 30%;
    background-color: #A6BB75;
}

.colorbox8 {
    height: 60px;
    width: 30%;
    background-color: #D8A55B;
}

.colorbox9 {
    height: 60px;
    width: 30%;
    background-color: #D36D75;
}

.colorbox10 {
    height: 60px;
    width: 30%;
    background-color: #AA81Ac;
}




/*------ TYPOGRAPHY SIDE ------*/
.typography-side {
      height: 400px;
      width: 100%;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}

.textbox {
  height: 20vh;
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
}



/*------ BUTTONS SIDE ------*/
  .buttons-side {
      height: 200px;
      width: 100%;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}
.btn {
    margin-left: auto;
    margin-right: 1%;
    margin-top: 20px;
    width: auto;
    height: 40px;
    background-color: #dba45c;
    font-family: 'Roboto';
    color: white;
    border: 0;
    font-size: 16px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    
}
.btn:hover {
    background: #515f6d;
    transition: 0.4s;
}
.btn:active {
    background: #90a0a8;
}
textarea {
    width: 50%;
    height: 50px;
    float: right;
    resize: none;
    margin-right: 50px;
    margin-top: -50px;
}

/*------ BOXES SIDE ------*/

.boxes-side {
      height: auto;
      background-color:#ffffff; 
      width: 80%;
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
      margin-right: auto;
      margin-left: auto;
}   
.box {
    width: 31.33%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5%;
}
.box2 {
    width: 38%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10%;
}
.box3 {
    width: 48%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
}
.box4 {
    width: 58%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px;
}
.box5 {
    width: 98%;
    height: 300px;
    background: white;
    border: solid 5px black;
    text-align: center;
    margin-bottom: 20px; 
}

/*------ NAVIGATION SIDE ------*/

  .navigation-side {
      height: 200px;
      width: 100%;
      background-color:#ffffff; 
      width: 80%; 
      margin-left: auto; 
      margin-right: auto; 
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}    



