* {
    margin: 0px;
    padding: 0px;
    }

body{
    background-color: #f7f7f7;
    font-family: "roboto";
}

/* Landing Page */

.video-container {
  position: relative;
		background-color: #515f6d;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  opacity: 0.3;

}

.overlay-head {
  color: #ffffff;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: top;
  justify-content: left;
  margin-left: 60px;
  margin-top: 120px;
}
.overlay-mans {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  margin-left: 62px;
  margin-top: 200px;
}
.overlay-bull {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  margin-left: 35px;
  margin-top: 320px;
}
.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: top;
  justify-content: left;
}
/* Landing Page end */

/* HEADER */

.logo {
    width: 100%;
    text-align: center;
}
.logoimg {
    width: 350px;
}
header ul {
    width: 50%;
    float: left;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
    height: 35px;
}
.rightside {
    width: 50%;
    float: right;
}
.logknap {
    float: right;
    margin-right: 10%;
}
header {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    background-color: #515f6d;
    color: black; 
    padding-top: 8px;
    min-height: 40px;
}
header a {
    color: white;
    font-size: 20px;
    text-decoration: none;    
}
header li{
    display: inline;
    padding: 0 40px 0 0px;
}

header .logknap{
    display: inline;
    padding: 0 5px 0 0px;
}
header nav{
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 5%;
}
/* :not(.active) = hover on all links which doesn't have an .active */
header a:not(.active):hover{
    color: white;
    border-bottom: solid #dba45c 10px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
    transition-timing-function: linear;
}
@media (max-width: 600px) {
    header a {
        font-size: 10px;   
    }
}
@media (max-width: 600px) {
    .p2 {
        font-size: 14px;   
    }
}

@media screen and (min-width: 0-600px){
    .main {
        width: 20%;
    }
}
nav .active {
    border-bottom: solid #dba45c 10px;
    padding-bottom: 2px;
}

/* ASIDE PROFIL + KARMAPOINT */

aside{
    margin-left: 5%;
    width: 15%;
    float: left;
    height: 720px;
    background-color: #515f6d;
    margin-top: 30px;
}

.profilimg{
    width: 100%;
}

.profilnavn{
    width: 80%;
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    font-family: "roboto";
    font-weight: 300;
    color: white;
    font-size: 20px;

}



/* BOX SETTINGS GENERAL */
.column{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    
}
/* Denne er merget hvis det går */
/*.column2{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 50px;
}
<<<<<<< HEAD
*/
=======

.container{
    float: left;
    width: 100%;
    height: 490px;   
}

.trekantbox {
    float: left;
    width: 100%;
    position: relative;
}

.trekant{
    height: 230px; 
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}

/* BOX SETTINGS GENERAL */
>>>>>>> cb719cf481045b86e9661218e1ffa9a993d25a93

.topdb {
    float: left;
    background-color: #515f6d;
    height: 50px;
    width: 100%;
}
.contentbox {
    float: left;
    width: 100%;
    height: 60px;
    background-color: rgba(144,160,168,0.2);
    margin-bottom: 10px;
}

.boxheadlines {
    width: 80%;
    margin-top: 13px;
    margin-bottom: 10px;
    /*margin-left: 10px; denne står 2 gange*/
    float: left;
    font-weight: 300;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

/* Dashboard */
.boxall{
	float: left;
    margin-left: 2%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}
.boxxs{
    height: 350px;
    float: left;
    margin-left: 2%;
    width: 31.33%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

/* MUS klip og Eventkalender */
.boxs{
    height: 600px;
    float: left;
    margin-left: 2%;
    width: 38%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

/* Noter*/
.boxm{
    height: 600px;
    float: left;
    margin-left: 2%;
    width: 48%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}


/* MUS skema og kalender*/
.boxl{
    height: 600px;
    float: left;
    margin-left: 2%;
    width: 58%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

/* MUS/noter arkiv*/
.boxxl{
    height: 300px;
    float: left;
    margin-left: 2%;
    margin-bottom: 50px;
    width: 98%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

/* TEXT */

h1 {
	font-size: 50px;
	color: #ffffff;
	
}

.h1-karma {                            /*KARMASCORE*/
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    font-weight: 700;
    color: #dba45c;
    font-size: 80px;
    box-sizing: border-box;
}

h2 {                                   /* DATOER I KALENDER + TAL IFBM. MÅL */
    float: left;
    color: #90a1a8;
    font-weight: 300;
    font-size: 40px;
    margin: 10px 3px 10px 20px;
}

h4{                                    /* TITEL PÅ EVENT PÅ KALENDER SIDE */
    width: 50%;
    float: left;
    color: #515f6d;
    font-weight: 300;
    font-size: 14px;
    margin: 6px 3px 0px 30px; 
}

.smalltxt{                             /* LILLE TEKST I ASIDE + EVENT TID OG STED */
    font-family: "roboto";
    font-weight: 300;
    font-size: 12px;
    float: left;
    margin: 5px 3px 0px 30px; 
    color: #515f6d;
}

.txtbold{                              /* ALT BRØDTEKST - BOLD */
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    color: #515f6d;
}

.txtregu{                              /* ALT BRØDTEKST - REGULAR */
    font-weight: 300;
    width: 100%;
    font-size: 18px;
    color: #515f6d;
    margin-top: 30px;
}
.profiltxt{
    float: left;
    font-weight: 300;
    font-size: 12px;
    margin: 5px 3px 0px 10px; 
    color: white;
}

/* DASHBOARD MAIN-OMRÅDE*/

.main-style {
    float: left;
    width: 75%;
    height: 600px;
    margin-right: 5%;
    margin-top: 30px;
}



/*MUS SIDE MAIN-OMRÅDE */

.textpartmus{
    width: 70%;
    text-align: left;
    margin-left: 15%;
}

/* KALENDER MAIN OMRÅDE*/

.date{
    float: left;
    margin: 25px 0px 10px 0px;
    font-weight: 300;
    font-size: 20px;
    color: #90a1a8;
}

/* MONTH HEADER */ 

.month {
    padding: 70px 0;
    width: 90%;
    background: rgba(144,160,168,0.2);
    text-align: center;
    margin-top: 90px;
    margin-left: 5%;
}

/* MONTH LIST */

.month ul {
    margin: 0;
    padding: 0; 
}

.month ul li {
    color: #90a1a8;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* PREVIOUS BUTTON INSIDE MONTH HEADER */

.month .prev {
    float: left;
    padding-top: 10px;
}

/* NEXT BUTTON */

.month .next {
    float: right;
    padding-top: 10px;
}
  
/* WEEKDAYS MON-SUN */

.weekdays {
    margin-left: 5%;
    padding: 10px 0;
    background-color: #515f6d;
    width: 90%;
}
  
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: white;
    text-align: center;
    font-weight: 700;
}
  
/* DAYS (1-31) */

.days {
    padding: 10px 0;
    margin: 0;
    margin-left: 5%;
    width: 90%;
    height: 190px;
    background-color: rgba(144,160,168,0.2);
}
  
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:25px;
    color: #90a1a8;
    font-weight: 300;
}
  
/* HIGHLIGHT THE CURRENT DAY */

.days li .active {
    padding: 5px;
    background: #515f6d;
    color: white !important
}


/* ----- Side med MUS SKEMA ------ */

.mus-skema-box{
    background-color: white; 
    height: 400px;
    width: 70%; 
    margin-top: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0 10px 15px #A3A1A8;
    
}


.top-color-side{
    background-color: #90A0A8; 
    height: 50px; 
    width: 20%; 
    float: left; 
}

.top-color{
    background-color: #515f6d; 
    height: 50px;
    width: 80%; 
    float: left; 
}

.mus-skema1-sidea{ 
    width: 50%; 
    float: left; 
    height: 260px;
}


.mus-skema-1-txt{
    padding-right: 20px; 
    padding-top: 60px; 
    padding-left: 60px; 
}

.mus-skema1-sideb{
    width: 50%;  
    float: left;
    height: 260px;
}


.mus-skema1-bottum{
    width: 100%; 
    float: left; 
    height: 70px;  
}

.mus-skema1-input-wrapper{
    margin-top: 70px
}

.mus-skema1-input{
    background-color: #E8EcED; 
    width: 80%; 
    height: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    border-style: none; 
    margin-top: 10px; 
    margin-bottom: 10px;
    padding-left: 10px; 
}

::placeholder {
    color: #dba45c;
    opacity: 0.6;
}

/* GULE KNAPPER */

main li{
    display: inline;
}

main ul{
    float: inherit;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.btn {
    margin-left: auto;
    margin-right: 1%;
    margin-top: 20px;
    width: auto;
    height: 40px;
    background-color: #dba45c;
    font-family: 'Roboto';
    color: white;
    border: 0;
    font-size: 16px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    
}

.btn:hover {
    background: #515f6d;
    transition: 0.4s;
}

.btn:active {
    background: #90a0a8;
}

