* {
    margin: 0px;
    padding: 0px;
    }

body{
    background-color: #f7f7f7;
    font-family: "roboto";
	
}

/* Landing Page */
main{
	height: auto;
}
.video-container {
  position: relative;
  background-color: #515f6d;
	
}
video  {
 	height: auto;
  	vertical-align: middle;
  	width: 100%;
 	opacity: 0.3;
}
.btnLP{
	margin: 600px auto 0px;
    height: 40px;
	width: 130px;
    background-color: #dba45c;
    color: white;
    font-size: 16px;
    padding: 12px;
    text-align: center;
	justify-content: center;
  	position: absolute;
  	top: 0; right: 0; bottom: 0; left: 0;
  	display: flex;
}
.overlay-head {
  align-items: top;
  margin-top: 110px;
}
.overlay-mans {
  margin: 200px auto;
  font-size: 20px;
  text-align: center;
  
}
.overlay-manssmart {
  margin: 200px auto;
  font-size: 20px;
  text-align: center;
  display: none;
}
.overlay-bull {
  margin: 450px auto;
  font-size: 16px;
}
.newspaper {
	column-count: 2;
}
.overlayall{
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  color: white;
}
.hiddentext{
	visibility: hidden;
}

/* Landing Page end */

/* HEADER */

.logo {
    width: 100%;
    text-align: center;
}
.logoimg {
    width: 350px;
}

.topnav .logknap {
    float: right;
    margin-right: 5.3%;
    margin-left: 0;
}
header {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    background-color: #515f6d;
    color: black; 
    padding-top: 8px;
    min-height: 40px;
}

.topnav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline;
    margin-right: 3%
}


.topnav{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
}

.topnav .icon{
    color: #ffffff;
    display: none;
}

.topnav .active {
    border-bottom: solid #dba45c 10px;
    padding-bottom: 2px;
}

/* :not(.active) = hover on all links which doesn't have an .active */
.topnav a:not(.icon):hover{
    color: white;
    border-bottom: solid #dba45c 8px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
    transition-timing-function: linear;
}




@media (max-width: 600px) {
    .p2 {
        font-size: 14px;   
    }
}

@media screen and (min-width: 0-600px){
    .main {
        width: 20%;
    }
}


/* ASIDE PROFIL + KARMAPOINT */

aside{
    margin-left: 5%;
    width: 15%;
    float: left;
    height: 720px;
    background-color: #515f6d;
    margin-top: 30px;
}

.karma-headline{
    width: 80%;
    margin-top: 13px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
    font-family: "roboto";
    font-weight: 300;
    color: white;
    font-size: 20px;
}

.profilimg{
    width: 100%;
}

.profilnavn{
    width: 80%;
    margin-top: 13px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
    font-family: "roboto";
    font-weight: 300;
    color: white;
    font-size: 20px;

}



/* BOX SETTINGS GENERAL */
.column{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    
}
.column2{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 50px;
}

.container-aside{
    float: left;
    width: 100%;
    height: 490px;  
}

.trekantbox {
    float: left;
    width: 100%;
    position: relative;
}

.trekant{
    height: 230px; 
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}

/* BOX SETTINGS GENERAL */

.topdb {
    float: left;
    background-color: #515f6d;
    height: 50px;
    width: 100%;
}

.contentbox {
    float: left;
    width: 100%;
    height: 60px;
    background-color: rgba(144,160,168,0.2);
    margin-bottom: 10px;
}

.boxheadlines {
    width: 80%;
    margin-top: 13px;
    margin-bottom: 10px;
    float: left;
    font-weight: 300;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.boxxs{
    height: 350px;
    float: left;
    margin-left: 2%;    
    width: 31.33%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

/* MUS klip og Eventkalender */
.boxs{
    height: 600px;
    float: left;
    margin-left: 2%;
    width: 38%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

/* Noter*/
.boxm{
    height: 600px;
    float: left;
    margin-left: 2%;
    width: 48%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}


/* MUS skema box og kalender box*/
.boxl{
    height: 600px;
    float: left;
    margin-left: 2%;
    width: 58%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

/* MUS/noter arkiv*/
.boxxl{
    height: 300px;
    float: left;
    margin-left: 2%;
    margin-bottom: 50px;
    width: 98%;
    background-color: white;
    box-shadow: 0 10px 15px #A3A1A8;
}

.mapper-noter{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
}

/* TEXT */

h1 {
	font-size: 60px;
	color: #ffffff;
	margin: 0px auto;
	text-align: center;
	
}

.h1-karma {                            /*KARMASCORE*/
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    font-weight: 700;
    color: #dba45c;
    font-size: 80px;
    box-sizing: border-box;
}

h2 {                                   /* DATOER I KALENDER + TAL IFBM. MÅL */
    float: left;
    color: #90a1a8;
    font-weight: 300;
    font-size: 40px;
    margin: 10px 3px 10px 20px;
}

h4{                                    /* TITEL PÅ EVENT PÅ KALENDER SIDE */
    width: 50%;
    float: left;
    color: #515f6d;
    font-weight: 300;
    font-size: 14px;
    margin: 6px 3px 0px 30px; 
}

.smalltxt{                             /* LILLE TEKST I ASIDE + EVENT TID OG STED */
    font-family: "roboto";
    font-weight: 300;
    font-size: 12px;
    float: left;
    margin: 5px 3px 0px 30px; 
    color: #515f6d;
}

.txtbold{                              /* ALT BRØDTEKST - BOLD */
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    color: #515f6d;
}

@media screen and (max-width: 500px){
    .txtbold{
        font-size: 12pt; 
    }
}

.txtregu{                              /* ALT BRØDTEKST - REGULAR */
    font-weight: 300;
    width: 100%;
    font-size: 18px;
    color: #515f6d;
    margin-top: 30px;
}

.txtregudb{                              /* ALT BRØDTEKST - REGULAR */
   float: left;
    font-weight: 300;
    width: 75%;
    font-size: 14px;
    color: #515f6d;
    margin-top: 15px;
    padding-left: 20px;
}

@media screen and (max-width: 500px){
    .txtregu{
        font-size: 12pt; 
    }
    
    .txtregudb{
        font-size: 14px;
        width: 80%;
    }
}

.profiltxt{
    float: left;
    font-weight: 300;
    font-size: 12px;
    margin: 5px 3px 0px 10px; 
    color: white;
}


/* DASHBOARD MAIN-OMRÅDE*/

.main-style {
    float: left;
    width: 75%;
    height: 600px;
    margin-right: 5%;
    margin-top: 30px;
}

.barometer{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

.notesblok{
    width: 60%;
    margin-left: 23%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.klipimg{
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 40px;
}

/*MUS SIDE MAIN-OMRÅDE */

.textpartmus{
    width: 72%;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 30px;
}

.klip-musside{
    width: 70%;
    margin-bottom: 50px;
    margin-left: 15%;
}

.mapper-skemaer{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
}
.skemacontainer {
    width: 100%;
    height: 350px;
    margin-top: 100px;
}
.skiftv {
    font-size: 30px;
    width: 20%;
    background-color: transparent;
    border: none;
    margin-left: 30%;
    color: #90a0a8;
    margin-top: 30px;  
}
.skiftr {
    font-size: 30px;
    width: 20%;
    background-color: transparent;
    border: none;
    color: #90a0a8;
}
.skiftv:focus {outline:0;}
.skiftr:focus {outline:0;}




.skema-side{
    width: 80%; 
    margin-right: auto; 
    margin-left: auto; 
    display: table;  
}


/* KALENDER MAIN OMRÅDE*/
.containerkal{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 50px;
}
.monthbox {
    width: 90%;
    height: 100px;
    background: rgba(144,160,168,0.2);
    margin-left: 5%;
}
.month {
    height: 150px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5.5%;
    display: inline-block;
    color: #90a1a8;
    font-size: 30px;
    text-align: center;
}
.week {
    width: 90%;
    height: 40px;
    margin-left: 5%;
    background-color: #90a1a8;
}
.weekdays {
    display: inline-block;
    width: 14.27%;
    float: left;
    box-sizing: border-box;
    padding: 10px 16px 0px 16px;
    color: white;
}
.datoer {
    width: 90%;
    background: rgba(144,160,168,0.2);
    margin-left: 5%;
    display: inline-block;
}
.dage {
    width: 14.27%;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 10px 16px 0px 16px;
} 
.dage a {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    color: #90a1a8;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
  }
.next, .prev {
    font-size: 30px;
    margin-right: 12%;
    margin-left: 12%;
    color: #dba45c;

}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
  }
.date {
        float: left;
        margin: 25px 0px 10px 0px;
        font-weight: 300;
        font-size: 20px;
        color: #90a1a8;
}

/*skema billede*/ 
.skemam{
    width: 90%; 
    margin-top: 90px;
    margin-bottom: 20px; 
    margin-left: auto; 
    margin-right: auto; 
    display: table; 
}

/* ----- Side med MUS SKEMA ------ */

.mus-skema textarea{
    border: none;
    background-color: #e8eced;
    font-size: 11pt; 
    color: #515f6d; 
}

.mus-skema textarea::placeholder {
    color: #dba45c;
    color: #dba45c;
    font-size: 11pt;
    opacity: 0.6;
}

.close-skema a{
    text-decoration: none; 
}



/*indstillinger til mus skema side*/
.mus-skema-box{
    background-color: white; 
    height:auto; 
    width: 70%; 
    margin-top: 30px; 
    margin-bottom: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0 10px 15px #A3A1A8;
    display: none; 
}

@media screen and (max-width: 500px){
    .mus-skema-box{
        width: 85%
    }
}

.top-color-side{
    background-color: #90A0A8; 
    height: 50px; 
    width: 20%; 
    float: left; 
}

@media screen and (max-width: 500px){
    .top-color-side{
        width: 50%; ; 
    }
}

.top-color{
    background-color: #515f6d; 
    height: 50px;
    width: 80%; 
    float: left; 
}
@media screen and (max-width: 500px){
    .top-color{
        width: 50%; ; 
    }
}

.mus-skema-bottum{
    width: 100%; 
    float: left; 
    height: 70px; 
    margin-bottom: 2%; 
}


.txtregu-skema{
    font-weight: 300;
    font-size: 18px;
    color: #515f6d;
}

@media screen and (max-width: 500px){
    .txtregu-skema{
        font-size: 15px; 
    }
}

.txthline-skema{
    font-weight: 700; 
    font-size: 16pt;
    color: #6696ad; 
}

.top-color-side-green{
    background-color:#a6bb75; 
    height: 50px; 
    width: 20%; 
    float: left; 
}

@media screen and (max-width: 500px){
    .top-color-side-green{
        width: 50%; ; 
    }
}

/*progress bar*/

.container {
    width: 80%;
    display: table; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 20px; 
}
  .progressbar {
      counter-reset: step;
    
  }

  .progressbar li {
      list-style-type: none;
      width: 7%;
      display: inline-block; 
      position: relative;
      color: white; 
      font-size: 0pt; 
      z-index: 1;
  }

  .progressbar li:before {
      width: 10px;
      height: 10px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #516f6d;
      display: block;
      text-align: center;
      border-radius: 50%;
      background-color: white;
  }

  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: transparent;  
      top: 6px;
      left: -80%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }


  .progressbar li.active:before {
      border-color: #516f6d;
      background-color: #516f6d;
      
  }
  .progressbar li.active:after {
      background-color: #516f6d; 
  }


/*indstillinger mus-skema-værdier*/

.mus-skema-value-wrapper{
    float: left; 
    width: 100%; 
    height: auto; 
    padding-top: 60px;
}

.mus-skema-value-top1{
    height: 100px;
    width: 50%;
    float: left;
}

@media screen and (max-width: 500px){
    .mus-skema-value-top1{
        width: 100%; 
    }
}

.mus-skema-value-top-img{
    height: auto;  
    width: 30%; 
    float: left;
    text-align: center; 
}

.mus-skema-value-top-img img{
    width: 50%; 
}

.mus-skema-value-txt1{
    height:auto;  
    width: 70%; 
    float: left; 
    padding-right: 4%;
}


.mus-skema-value-txt2{
    width: 90%;
}

@media screen and (max-width: 500px){
    .mus-skema-value-txt2{
        padding-left: 14%; 
    }
}

.mus-skema-value-top2{
    height: 100px;
    width: 50%;
    float: left; 
    padding-left: 4%; 
}

@media screen and (max-width: 500px){
    .mus-skema-value-top2{
        width: 100%; 
    }
}

.mus-skema-value-main{
    width: 100%;
    float: left; 
    height: auto;
    padding-left: 5%; 
}

.mus-skema-value-maintxt{
    padding-top: 8%; 
}

.mus-skema-value-maintxt1{
    padding-top: 2%; 
}
.mus-skema-value-maintxt p{
    padding-left: 12%; 
    padding-bottom: 1%; 
    padding-right: 13%;
}

.mus-skema-value-maintxt1 p{
    padding-left: 12%; 
    padding-bottom: 1%; 
    padding-right: 13%;
}

@media screen and (max-width: 500px){
    .mus-skema-value-maintxt p{
        padding-left: 18%; 
    }
    
    .mus-skema-value-maintxt1 p{
        padding-left: 18%;
    }
}


/*mus skema step 1*/

.mus-skema1-sidea{ 
    width: 59%; 
    float: left; 
    height: auto; 
}


@media screen and (max-width: 500px){
    .mus-skema1-sidea{
        width: 100%; 
    }
}

.mus-skema-1-txt{
    padding-right: 20px; 
    padding-top: 60px; 
    padding-left: 60px; 
}

@media screen and (max-width: 500px){
    .mus-skema-1-txt{
        padding-left: 30px;
        padding-top: 20px; 
        padding-right: 30px; 
    }
}

.mus-skema1-sideb{
    width: 41%;  
    float: left;
}

@media screen and (max-width: 500px){
    .mus-skema1-sideb{
        width: 100%; 
        height: auto; 
    }
} 

.mus-skema1-input-wrapper{
    margin-top: 60px; 
}


@media screen and (max-width: 500px){
    .mus-skema1-input-wrapper{
        margin-top: 20px;
        margin-right: -10%; 
    }
}

.skema1{
    height: 43px;
    width: 80%; 
    margin-top: 1%; 
    margin-bottom: 1%; 
    margin-left: 5%; 
}

/*mus skema step 2*/

.mus-skema2-txt{
    float: left; 
    width: 100%; 
    padding-right: 5%; 
    padding-left: 5%; 
    text-align: center; 
    padding-top: 60px; 
}

@media screen and (max-width: 500px){
    .mus-skema2-txt{
        padding-top: 20px; 
    }
}

.mus-skema2-headline{
    text-transform: uppercase; 
    font-weight: 700; 
}

.txt-BeAwesome{
    text-transform: uppercase;
    color: #6696AD; 
    font-weight: 700;
    font-size: 20pt; 
    margin-top: 3%; 
}

/*mus skema step 3*/

.mus-skema3-wrapper{
    width: 90%; 
    margin-right: auto; 
    margin-left: auto; 
    display: table; 
    padding-top: 20px; 
}

@media screen and (max-width: 500px){
    .mus-skema3-wrapper{
        width: 80%;
        padding-top: 20px; 
    }
}

.mus-skema3-txt{
    float:left; 
    width:90%; 
    padding-left: 5%;
    margin-bottom: 5%; 
}

.mus-skema3-txt p{
    margin-top: 0;
}

@media screen and (max-width: 500px){
    .mus-skema3-txt{
        width: 100%; 
    }
}

.skema3-txt-top{
    font-size: 25px;
}

.mus-skema3-icons{
    width: 15%; 
    float: left; 
}

@media screen and (max-width: 500px){
    .mus-skema3-icons{
        width: 100%; 
        padding-left: 5%; 
    }
}

#skema3-clear{
    clear: both; ; 
}

.mus-skema3-icons img{
    width: 80%; 
    margin-left: 40%; 
}

@media screen and (max-width: 500px){
    
    .mus-skema3-icons img{
        width: 15%; 
    }
}

.mus-skema3{
    width: 50%; 
    float: left;
}

@media screen and (max-width: 500px){
    .mus-skema3{
        width: 100%; 
        margin-bottom: 10%; 
    }
}


/*mus skema step 4*/

.top-color-side-green{
    background-color:#a6bb75; 
    height: 50px; 
    width: 20%; 
    float: left; 
}

@media screen and (max-width: 500px){
    .top-color-side-green{
        width: 50%; ; 
    }
}

.checkgreen{
    display: block; 
    position: relative;
    padding-left: 35px;
    margin-left: 5%; 
    margin-bottom: 12px;
    width: 100%;
    float: left;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    color: #515f6d;
}

.checkgreen input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E8ECED;
    border-radius: 2px;
}

.checkgreen:hover input ~ .checkmark {
    background-color: #90A0A8;
}

.checkgreen input:checked ~ .checkmark {
    background-color: #A6BB75;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkgreen input:checked ~ .checkmark:after {
    display: block;
}


.checkgreen .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkgreen textarea{
    height: 80px; 
    width: 80%; 
    margin-left: 2%; 
    margin-top: 0; 
    margin-bottom: 0; 
}


/*mus skema step 5*/

.top-color-side-purple{
    background-color:#aa81ac; 
    height: 50px; 
    width: 20%; 
    float: left; 
}

@media screen and (max-width: 500px){
    .top-color-side-purple{
        width: 50%; ; 
    }
}

.checkpurple{
    display: block; 
    position: relative;
    padding-left: 35px;
    margin-left: 5%; 
    margin-bottom: 12px;
    width: 100%;
    float: left;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    color: #515f6d;
}

.checkpurple input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E8ECED;
    border-radius: 2px;
}

.checkpurple:hover input ~ .checkmark {
    background-color: #90A0A8;
}

.checkpurple input:checked ~ .checkmark {
    background-color: #aa81ac;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkpurple input:checked ~ .checkmark:after {
    display: block;
}


.checkpurple .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkpurple textarea{
    height: 80px; 
    width: 80%; 
    margin-left: 2%; 
    margin-top: 0; 
}

/*mus skema step 6*/

.top-color-side-red{
    background-color:#d36d75; 
    height: 50px; 
    width: 20%; 
    float: left; 
}

@media screen and (max-width: 500px){
    .top-color-side-red{
        width: 50%; ; 
    }
}

.checkred{
    display: block; 
    position: relative;
    padding-left: 35px;
    margin-left: 5%; 
    margin-bottom: 12px;
    width: 100%;
    float: left;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    color: #515f6d;
}

.checkred input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E8ECED;
    border-radius: 2px;
}

.checkred:hover input ~ .checkmark {
    background-color: #90A0A8;
}

.checkred input:checked ~ .checkmark {
    background-color: #d36d75;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkred input:checked ~ .checkmark:after {
    display: block;
}


.checkred .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkred textarea{
    height: 70px; 
    width: 80%; 
    margin-left: 2%; 
    margin-top: 0; 
}

/*mus skema step 7*/

.top-color-side-blue{
    background-color:#6696ad; 
    height: 50px; 
    width: 20%; 
    float: left; 
}

@media screen and (max-width: 500px){
    .top-color-side-blue{
        width: 50%; ; 
    }
}

.checkblue{
    display: block; 
    position: relative;
    padding-left: 35px;
    margin-left: 5%; 
    margin-bottom: 12px;
    width: 100%;
    float: left;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    color: #515f6d;
}

.checkblue input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E8ECED;
    border-radius: 2px;
}

.checkblue:hover input ~ .checkmark {
    background-color: #90A0A8;
}

.checkblue input:checked ~ .checkmark {
    background-color: #6696ad;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkblue input:checked ~ .checkmark:after {
    display: block;
}


.checkblue .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkblue textarea{
    height: 80px; 
    width: 80%; 
    margin-left: 2%; 
    margin-top: 0; 
}

/*mus skema step 8*/
.mus-skema8-txt{
    height: auto; 
    width: 100%;
    float: left; 
    padding-left: 10%; 
    padding-top: 5%;
    padding-right: 10%; 
}

@media screen and (max-width: 500px){
    .mus-skema8-txt{
        padding-right: 10%; 
    }
}

.mus-skema8-box{
    height: auto; 
    width: 50%; 
    float: left; 
}


@media screen and (max-width: 500px){
    .mus-skema8-box{
        width: 100%; 
    }
}

.mus-skema8-box-wrapper{
    float: left; 
    padding-left: 10%; 
    padding-right: 10%; 
}

.skema8-label{ 
    float: left; 
    width: 100%;
    padding-top: 5%;
}

.skema8{
    margin-left: 0%;
    float: left;
    width: 90%;
    height: 100px; 
    margin-top: 2%; 
}

@media screen and (max-width: 500px){
    .skema8{
        width: 100%; 
        margin-bottom: 0; 
    }
}

/*mus skema step 9*/

.skema9-txt-wrapper{
    text-align: center; 
}

.skema9{
    margin-bottom: 3%; 
    margin-left: 0;
    margin-top: 0; 
    height: 50px; 
    width: 95%;  
}

.skema9-tal{
    width: 5%; 
    float: left; 
    background-color: #e8eced;  
    text-align: center; 
    font-size: 40px; 
    color: #90a1a8; 
    padding-top: 3px;
    padding-left: 2%; 
}

@media screen and (max-width: 500px){
    .skema9-tal{
        width: 10%; 
    }
    
    .skema9{
        width: 90%; 
    }
}

/*mus skema step 10*/

.skema10{
    width: 100%; 
    margin-left: 0; 
    margin-top: 0; 
}

/*mus skema step 11 - Tak for din besvarelse*/

.skema11-txt{
    text-align: center;
    float: left; 
    width: 100%; 
    margin-top: 5%; 
    padding-left: 10%; 
    padding-right: 10%; 
}

.karma-skema{
    font-weight: 700;
    color: #dba45c;
    font-size: 80px;
}

.skema11-txt img{
    width: 10%; 
    margin-bottom: 2%; 
}

/*mus skema step 13 - preview*/

.pbox{
    background-color: #e8eced; 
    width: 100%;
    float: left; 
}

.pbox-header{
    width: 100%; 
    float: left; 
}

.pbox-img{
    width: 12%; 
    float: left; 
    padding: 2%;
    margin-left: 5%
}

.pbox-hline{
    width: 70%;
    float: left;
    padding-top: 2%;
}

.pbox-txt{
    width: 70%; 
}
@media screen and (max-width: 500px){
    .pbox-txt{
        width: 100%;
        padding-top: 15%;
        padding-left: 10%
    }
}

.rediger{
    width: 5%; 
    float: right;
    padding: .5%;
    margin-right: 1%; 
    margin-top: 1%; 
}

@media screen and (max-width: 500px){
    .rediger{
        width: 10%;
        margin-top: 2%; 
        margin-right: 2%; 
    }
}

.pbox-header-2{
    width: 100%; 
    float: left; 
    padding-left: 8%;  
}

.pbox-header-2 p{
    padding-right: 5%; 
}

.skemap-hline{
    padding-top: 5%;
    padding-bottom: 2%; 
}

.pbox-maal{
    font-size: 20pt; 
    color: #515f6d; 
}

.txt-preview1{
    margin-left: 0; 
    width: 90%; 
}

.previewtxt textarea{
    color: #d8a55b;
    font-size: 12pt;
    font-weight: 700; 
}

.previewtxt textarea::placeholder{
    font-size: 9pt; 
    font-weight: 100; 
}



/*-------MUS skema slut-------*/


/*---Note slider--- */

* { box-sizing: border-box;
}

.scene {
	  border: 1px solid #ccc;
	  position: relative;
	  width: 210px;
	  height: 240px;
	  margin: 40px auto;
	  margin-top: 150px;
	  perspective: 1000px;
}

.carousel {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  transform: translateZ(-182px);
	  transform-style: preserve-3d;
	  transition: transform 2s;	
}

.carousel__cell {
	  position: absolute;
	  width: 190px;
	  height: 220px;
	  left: 10px;
	  margin: 9px auto;
	  padding: 5px 18px;
	  border: 1px solid #90a1a8;
	  font-size: 10px;
	  font-weight: bold;
	  color: gray;
	  text-align: center;
}

.carousel__cell:nth-child(9n+1) { background: hsla(  0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+2) { background: hsla(  0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+3) { background: hsla(  0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+4) { background: hsla( 0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+5) { background: hsla( 0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+6) { background: hsla( 0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+7) { background: hsla( 0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+8) { background: hsla( 0, 0%, 100%, 100); }
.carousel__cell:nth-child(9n+0) { background: hsla( 0, 0%, 100%, 100); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(182px); }
.carousel__cell:nth-child(2) { transform: rotateY( 60deg) translateZ(182px); }
.carousel__cell:nth-child(3) { transform: rotateY( 120deg) translateZ(182px); }
.carousel__cell:nth-child(4) { transform: rotateY(180deg) translateZ(182px); }
.carousel__cell:nth-child(5) { transform: rotateY(240deg) translateZ(182px); }
.carousel__cell:nth-child(6) { transform: rotateY(300deg) translateZ(182px); }

.slideshow-container {
		max-width: 1000px;
		position: relative;
		text-align: center;
		margin-bottom: 90px;
		cursor: pointer;
		user-select: none;
		color: #D8A55B;
		
}

.prev-button, .next-button {
	  cursor: pointer;
	  position: absolute;
	  width: auto;
	  color: #90a0a8;
	  font-weight: bold;
	  font-size: 30px;
	  transition: 0.6s ease;
	  margin: auto 23%;
}

/* Position the "next button" to the right */
.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
}
.prev-button:hover, .next-button:hover {
 	 color: #D8A55B;
}

.prev-button {
		left: 0;
		border-radius: 3px 0 0 3px;
 }

.numbertext {
	  color: #515f6d;
	  font-size: 11px;
	  padding: 10px 0px;
	  position: center;
	  top: 0;
}
/* GULE KNAPPER */


main li{
    display: inline;
}

main ul{
    float: inherit;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.btn {
    margin-left: auto;
    margin-right: 1%;
    margin-top: 20px;
    width: auto;
    height: 40px;
    background-color: #D8A55B;
    font-family: 'Roboto';
    color: white;
    border: 0;
    font-size: 16px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    
}

.btn:hover {
    background: #515f6d;
    transition: 0.4s;
}

.btn:active {
    background: #90a0a8;
}


/* herfra er det "pop-upes" kode */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}




/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popupbox{
    height: auto;
    margin: auto;
    width: 50%;
    background-color: white;
    padding-bottom: 2%; 
    margin-bottom: 5%; 
}

@media screen and (max-width: 600px){
    .popupbox{
        width: 80%;
        padding-bottom: 5%;
    }
    
}

.popupbox textarea{
    border: none;
    height: 150px; 
    background-color: #E8ECED;
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    width: 60%; 
    margin-bottom: 5%; 
    margin-top: 5%; 
    color: #515f6d; 
    font-size: 10pt; 
}




.poptxt{
    width: 60%;
    margin: auto; 
    padding-top: 80px;
}

.poptxt1{
    width: 60%;
    margin: auto; 
    padding-bottom: 40px;
}

input[type=text], select {
    width: 60%;
    margin-left: 20%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: vertical;
    background-color: #E8ECED;
}

::placeholder {
    color: #d8a55b;
    opacity: 0.6;
}

/* ---container til tjek knapperne--- */
.containerpopup {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    width: 17%;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #515f6d;
    float: left;
    width: 100%;
    
}

.tjek{
    float: left;
    width: 100%; 
}


.tjek1{
    float: left; 
    width: 50%; 
    padding-left: 25%; 
    
}

.tjek2{
    float: left;  
    width: 50%; 
}

.tjek3{
    float: left;
    width: 100%;
    padding-left: 40%;
}

@media screen and (max-width: 600px){
    .tjek1{
        width: 100%;
        padding-left: 30%; 
    }
    
    .tjek2{
        width: 100%;
        padding-left: 30%;
    }
    
    .tjek3{
        padding-left: 20%;
    }
    
}


.containerpopup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E8ECED;
    border-radius: 2px;
}

.containerpopup:hover input ~ .checkmark {
    background-color: #90A0A8;
}

.containerpopup input:checked ~ .checkmark {
    background-color: #D8A55B;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerpopup input:checked ~ .checkmark:after {
    display: block;
}

.containerpopup .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ---til den grønne tjek knap--- */
.containerpopup1 {
  display: block;
  position: relative;
  padding-left: 35px;
    margin-left: 100px;
  margin-bottom: 12px;
    width: 17%;
    float: left;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    color: #515f6d;
}

.containerpopup1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E8ECED;
    border-radius: 2px;
}

.containerpopup1:hover input ~ .checkmark {
  background-color: #90A0A8;
}

.containerpopup1 input:checked ~ .checkmark {
  background-color: #A6BB75;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerpopup1 input:checked ~ .checkmark:after {
  display: block;
}

.containerpopup1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---til den lilla tjek knap--- */
.containerpopup2 {
  display: block;
  position: relative;
  padding-left: 35px;
    margin-left: 15px;
  margin-bottom: 12px;
    width: 17%;
    float: left;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    color: #515f6d;
}

.containerpopup2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E8ECED;
    border-radius: 2px;
}

.containerpopup2:hover input ~ .checkmark {
  background-color: #90A0A8;
}

.containerpopup2 input:checked ~ .checkmark {
  background-color: #AA81Ac;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerpopup2 input:checked ~ .checkmark:after {
  display: block;
}

.containerpopup2 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---til den røde tjek knap--- */
.containerpopup3 {
  display: block;
  position: relative;
  padding-left: 35px;
    margin-left: 15px;
  margin-bottom: 12px;
    width: 17%;
    float: left;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    color: #515f6d;
}

.containerpopup3 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E8ECED;
    border-radius: 2px;
}

.containerpopup3:hover input ~ .checkmark {
  background-color: #90A0A8;
}


.containerpopup3 input:checked ~ .checkmark {
  background-color: #D36D75;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerpopup3 input:checked ~ .checkmark:after {
  display: block;
}

.containerpopup3 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---til den blå tjek knap--- */
.containerpopup4 {
  display: block;
  position: relative;
  padding-left: 35px;
    margin-left: 15px;
    margin-bottom: 12px;
    width: 17%;
    float: left;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    color: #515f6d;
}

.containerpopup4 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #E8ECED;
    border-radius: 2px;
}

.containerpopup4:hover input ~ .checkmark {
  background-color: #90A0A8;
}

.containerpopup4 input:checked ~ .checkmark {
  background-color: #6696AD;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerpopup4 input:checked ~ .checkmark:after {
  display: block;
}

.containerpopup4 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#myBtn {
    width: 5%;
    display: none; 
    position: fixed; 
    bottom: 55px;
    right: 2%; 
    z-index: 1;
    border: none;
    outline: none;
    background-color: #dba45c;*/
    color: white;
    cursor: pointer;
    padding: 0px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #515f6d;
}

/* indtil her */

.imgicon {
  padding: 1px;
  width: 45px;
}

.klip {
  padding-right: 20px;
  width: 80px;
    float: left;
}

#field-s{
    height: 50px;
    margin-bottom: -3%; 
}

#field-xs{
    height: 50px; 
    width: 38%;
    float: left; 
}

#field-xs1{
    height: 50px; 
    width: 35%;
    float: left;
    margin-left: 2%; 
}

.field-xs{
    width: 80%;
    margin: auto; 
    margin-left: 20%;
    float: left; 
    margin-bottom: -2%
}

#field-m{
    height: 150px; 
    margin-bottom: -2%; 
}




@media screen and (max-width: 800px) {
    
    aside {
        width: 92%;
        height: auto;
        margin-left: 4%;
        margin-top: 20px;
    }
    
    .trekantbox{
        display: none;
    }
    
    .profilimg{
        float: left;
        width: 20%;
    }
    
    .container-aside{
        height: auto;
    }
    
    .h1-karma{
        float: right;
        display: block;
        font-size: 40px;
        width: 20%;
        margin-right: 10px;
        margin-top: 5px;
    }

    .profilnavn{
        float: left;
        width: 50%;
        margin-top: 7px;
    }
    
    .profiltxt{
        float: left;
        width: 40%
    }
    
    .karma-headline{
        display: none;
    }
    
    .boxxs{
        height: 380px;
        width: 92%;
        margin-left: 4%;
        margin-bottom: 20px;
    }
    
    .column{
        margin-bottom: 0px;
    }
    
    .main-style{
        width: 100%;
        margin-top: 20px;
    }
    
    .column2{
        display: none;
    }
    
    .boxl{
        width: 92%;
        margin-left: 4%;
        margin-bottom: 20px;
        height: 450px;
    }
    
    .knapkasse{
        width: 50%;
        height: 100px;
        text-align: center;
        align-content: center;
        margin-left: 25%;
        margin-top: -100px;
        
    }
    
    .skemacontainer{
        height: 350px;
    }
    
    .boxs{
        width: 92%;
        margin-left: 4%;
        margin-bottom: 20px;
        height: 570px
    }
    
    .weekdays li{
        font-size: 14px;
        width: 12%
    }

    .boxm{
        width: 92%;
        margin-left: 4%;
        margin-bottom: 20px;
        height: 600px;
    }
    
    .logoimg{
        width: 250px;
    }
}

/* RESPONSIV BURGER MENU */

@media screen and (max-width: 600px) {
    
    .topnav a {
        display: none;
    }
    
    .topnav a.icon {
        display: block;
        
    }
    .topnav .active{
        color: #dba45c;
        border-bottom: 0;
        width: 20%;
        padding-bottom: 0;
    }

  .topnav.responsive {
        position: relative;
    }
    
  .topnav.responsive a.icon {
        position: relative;
        right: 0;
        top: -10px;
    }
    
  .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-top: 20px;
    }
    
    
    .topnav .logknap{
        margin-bottom: 40px;
    }
    
    .topnav a{
        margin-bottom: 0px;
        width: 70%
    }
    
    .topnav a:not(.icon):hover{
        border-bottom: 0;
        padding-bottom: 0;
        color: #dba45c;
        cursor: pointer;
        transition: all 0.3s;
        transition-timing-function: linear;
    }
}
/* responsiv kalender */ 
@media screen and (max-width: 600px) {
    .month {
        font-size: 20px;
        margin-top: 12%;

    }
    .next, .prev {
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .weekdays {
        padding: 5px 7px 0px 7px;
    }
    .dage {
        padding: 5px 7px 0px 7px; 
    }
    .dage a {
        font-size: 14px;
    }
}

/* responsiv LP */ 
@media screen and (max-width: 600px) {
	body.someclass  {
		background-color: #515f6d;}
	
	  .overlayall{
	  width: 90%;
	  position: block;
	}
		h1{
			font-size: 25px;
		}
	.overlay-head {
	  align-items: top;
	  margin: 280px auto 0px;
	}

	.overlay-bull {
		margin: 540px auto 0px;
		font-size: 12px;
	}
	.hidden {
			display: none;
		}
	.hiddentext {
			visibility: visible;
		}
	.btnLP{
		margin: 330px auto 0px;
		width: auto;
	}

	.overlay-manssmart {
	  margin: 440px auto 0px;
	  font-size: 13px;
	  text-align: center;
  
}
